# --- SEGURANÇA GERAL ---
TELEGRAM_BOT_TOKEN=seu_token_aqui
TELEGRAM_CHAT_ID=seu_chat_id_aqui

# --- IA LOCAL (OLLAMA) ---
OLLAMA_URL=http://localhost:11434/v1
MODEL_NAME=llama3.2:3b

# --- GMAIL API ---
# Nome dos arquivos JSON (Não coloque o conteúdo aqui!)
GMAIL_CREDENTIALS_FILE=cred.json
GMAIL_TOKEN_FILE=token.json

# --- BANCO DE DADOS (POSTGRESQL) ---
POSTGRES_USER=seu_usuario
POSTGRES_PASSWORD=sua_senha
POSTGRES_DB=seu_banco
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

# --- APP CONFIG ---
DEBUG=True
PORT=5000
